$background: #ffffff;
$background-negative: #212121;
$background-primary: #003adc;
$background-secondary: #8f929b;
// $background-tertiary: #f8f5f5;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #212121;
$foreground-negative: #ffffff;
$foreground-primary: #003adc;
$foreground-secondary: #8f929b;
// $foreground-tertiary: #1e2849;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #212121;
