@font-face {
	font-family: 'butlerbold';
	src: url('../fonts/butler/butler_bold-webfont.woff2') format('woff2'),
		url('../fonts/butler/butler_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
