$background: var(--background);
$background-negative: var(--background-negative);
$background-primary: var(--background-primary);
// $background-secondary: var(--background-secondary);
// $background-tertiary: var(--background-tertiary);
$foreground: var(--foreground);
$foreground-negative: var(--foreground-negative);
$foreground-primary: var(--foreground-primary);
// $foreground-secondary: var(--foreground-secondary);
// $foreground-tertiary: var(--foreground-tertiary);
$border: var(--border);

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
$font-size: var(--font-size);
$font-size-xs: var(--font-size-xs);
$line-height: var(--line-height);
$font-weight: var(--font-weight);
$font-extralight: var(--font-extralight);
$font-light: var(--font-light);
$font-regular: var(--font-regular);
$font-medium: var(--font-medium);
$font-semibold: var(--font-semibold);
$font-bold: var(--font-bold);
$font-extrabold: var(--font-extrabold);
$font-black: var(--font-black);
$btn-radius: var(--btn-radius);
$card-radius: var(--card-radius);
$bullet-size: var(--bullet-size);
