.page--test {
	display: flex;
	align-items: center;
	justify-content: center;

	main {
		width: 100%;
		padding: 0;
	}

	.header {
		flex: 0 0 75px;
		display: flex;
		align-items: center;
		padding: 20px;

		.brand {
			font-size: 13px;
			font-weight: 900;
			flex: 1 1 auto;
		}

		.btn--twitter,
		.btn--github {
			font-size: 20px;
			margin-left: 10px;

			i {
				color: $foreground;
				transition: ease-in-out color 300ms;
			}

			&:hover {
				i {
					color: $foreground-primary;
				}
			}
		}
	}

	.list {
		flex: 1 1 auto;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.list__item {
		flex: 0 0 50px;
		min-height: 40px;
		margin: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		cursor: pointer;

		.item {
			padding: 10px 20px;
		}

		&>.title {
			flex: 1 1 auto;
			margin: 0 10px;
			color: rgba(0, 0, 0, 0.5);
		}

		&>.date {
			flex: 0 1 100px;
			margin: 0 20px 0 10px;
			padding: 6px 10px 4px 10px;
			border-radius: 12px;
			font-size: 12px;
			line-height: 1;
			text-align: center;
			color: #fff;
		}

	}

	[sub-component] {
		padding: 4px;
		cursor: pointer;
	}

	@include media-breakpoint-up(sm) {

		main {
			display: flex;
			flex-direction: column;
			max-width: 480px;
			height: 70vh;
			border-radius: 3px;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
		}

		.list {
			flex: 1 1 auto;
			overflow-y: auto;
		}

	}

	@include media-breakpoint-down(xs) {

		main {
			min-height: 100vh;
		}

		.list {
			overflow-y: auto;
		}

	}

	svg {
		fill: #666666;
		width: 16px;
		height: 16px;
	}

	button {
		color: #666666;
		font-size: 12px;

		&.disabled {
			pointer-events: none;
			opacity: 0.2;
		}
	}

	.footer {
		display: flex;
		justify-content: center;
		margin: 0;

		i {
			color: #666666;
			font-size: 24px;
		}

		a {
			margin-right: 15px;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}

	@include media-breakpoint-up(sm) {
		background: #e0e0e0;

		main {
			display: flex;
			flex-direction: column;
			max-width: 375px;
			height: 70vh;
			border-radius: 3px;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
			background: white;
		}

		.list {
			flex: 1 1 auto;
			overflow-y: auto;
		}

	}

	@include media-breakpoint-down(xs) {
		background: white;

		main {
			min-height: 100vh;
		}

		.list {
			overflow-y: auto;
		}

		.footer {
			padding: 25px 0;
		}

	}

}
