@import './../mixins';

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

.container {
	@include make-container();
	@include make-container-max-widths();
}

.container-fluid {
	@include make-container();
}

.row {
	@include make-row();
	min-width: 100%;
}

.container {
	position: relative;

	@include media-breakpoint-down(xs) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@include make-grid-columns();

@include media-breakpoint-down(sm) {

	@for $i from 1 through 20 {

		.o-#{$i} {
			order: $i;
		}
	}

}
