<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="/rxcomp/">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="Content-Language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<title>
		<!--@@var=title-->
	</title>
	<meta name="description" content="<!--@@var=description-->">
	<meta name="apple-mobile-web-app-title" content="<!--@@var=title-->">
	<meta name="application-name" content="<!--@@var=title-->">
	<link rel="apple-touch-icon" sizes="180x180" href="/rxcomp/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/rxcomp/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/rxcomp/img/favicon-16x16.png">
	<link rel="shortcut icon" type="image/png" href="/rxcomp/img/favicon.ico" />
	<link rel="manifest" href="/rxcomp/img/site.webmanifest">
	<link rel="mask-icon" href="/rxcomp/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#212121">
	<meta name="theme-color" content="#ffffff">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/rxcomp/css/rxcomp.min.css" />
	<link rel="stylesheet" href="/rxcomp/css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body class="<!--@@var=class-->">
	<!-- @@include ./shared/analytics.html { "code": "GTM-WL42JM2" } -->
	<!-- @@placeholder= main -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2CArray.prototype.find%2CObject.assign%2CMap" crossorigin="anonymous" SameSite="none Secure"></script>
	<script src="https://unpkg.com/@reactivex/rxjs@6.5.4/dist/global/rxjs.umd.min.js" crossorigin="anonymous" SameSite="none Secure"></script>
	<!-- @@placeholder= js -->
</body>

</html>
