$font-primary: 'Open Sans',
sans-serif;
$font-secondary: 'Akkurat',
serif;
$font-size: 18px;
$font-size-xs: 16px;
$line-height: 1.77;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
$btn-radius: 20px;
$card-radius: 30px;
$bullet-size: 12px;
