.page--todomvc {
	display: flex;
	align-items: center;
	justify-content: center;

	main {
		width: 100%;
		padding: 0;
	}

	.header {
		flex: 0 0 75px;
		display: flex;
		align-items: center;
		padding: 20px;

		.brand {
			font-size: 13px;
			font-weight: 900;
			flex: 1 1 auto;
		}

		.btn--twitter,
		.btn--github {
			font-size: 20px;
			margin-left: 10px;

			i {
				color: $foreground;
				transition: ease-in-out color 300ms;
			}

			&:hover {
				i {
					color: $foreground-primary;
				}
			}
		}
	}

	.group--form {
		flex: 0 0 60px;
		// border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .2);
		z-index: 2;
	}

	.list {
		flex: 1 1 auto;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.list__item {
		--accent: $foreground;

		display: flex;
		align-items: center;
		min-height: 120px;
		margin: 0;
		padding: 20px;

		.title {
			position: relative;
			margin-top: 10px;
			font-size: 28px;
			font-weight: 800;
			line-height: 1;
			text-align: left;

			&:after {
				content: '';
				// background-image: url('../img/underline.svg');
				background-color: black;
				background-color: var(--accent);
				background-size: 170px 8px;
				background-repeat: no-repeat;
				position: absolute;
				width: 0;
				height: 8px;
				left: -8px;
				top: 50%;
				margin-top: -2px;
				z-index: 1;
				// mix-blend-mode: multiply;
				transition: ease-in-out 300ms width;
			}

		}

		&.done {
			.title {
				&:after {
					width: 170px;
				}
			}
		}

		.date {
			font-size: 10px;
			font-weight: 800;
			line-height: 1;
			text-align: left;
			white-space: nowrap;
			text-transform: uppercase;
			text-indent: 1px;
			// color: var(--accent);
		}

	}

	.btn--toggle {
		flex: 1 1 auto;
	}

	.btn--remove {
		&>i {
			font-size: 11px;
			height: 11px;
			line-height: 1;
		}
	}

	.btn--add {
		color: $foreground;

		&>i {
			font-size: 12px;
		}

		&.disabled {
			pointer-events: none;
			color: rgba($foreground, 0.2);
		}
	}

	@include media-breakpoint-up(sm) {
		background: #e0e0e0;

		main {
			display: flex;
			flex-direction: column;
			max-width: 375px;
			height: 70vh;
			border-radius: 3px;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
			background: white;
		}

		.list {
			flex: 1 1 auto;
			overflow-y: auto;
		}

	}

	@include media-breakpoint-down(xs) {
		background: white;

		main {
			min-height: 100vh;
			// height: 100vh;
			// height: fill-available;
		}

		.list {
			overflow-y: auto;
		}

		.footer {
			padding: 25px 0;
		}

	}

}
