.page--todomvc {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #dcedf3;
	background: linear-gradient(to bottom, #dcedf3 0%, #def7f0 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcedf3', endColorstr='#def7f0', GradientType=0);

	main {
		width: 100%;
		padding: 40px;
		background: white;
	}

	.group--form {
		display: flex;
		margin: 20px 0;
		padding: 8px 12px;
		border: 2px solid rgba(17, 138, 178, 0.2);
		border-radius: 8px;
	}

	.control--text {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 20px;
		background: none;
		border: none;
		outline: none;
		color: rgba(17, 138, 178, 1);

		&::placeholder {
			font-size: 20px;
			color: rgba(17, 138, 178, 0.2);
		}
	}

	.list {
		margin: 0;
		padding: 0;
		list-style: none;
		margin: 0 -30px 40px -30px;
		padding: 0 30px;

		&>.list__item {
			display: flex;
			align-items: center;
			min-height: 15px;
			margin: 0;
			padding: 20px 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);

			&>.date {
				flex: 0 1 100px;
				margin: 0 20px 0 10px;
				padding: 6px 10px 4px 10px;
				border-radius: 12px;
				font-size: 12px;
				line-height: 1;
				text-align: center;
				color: #fff;
			}

		}
	}

	.btn--toggle {
		display: inline-flex;
		flex: 1 0 auto;
		align-items: center;

		&>i {
			font-size: 14px;
			height: 14px;
			line-height: 1;
		}

		&>.title {
			margin: 0 10px;
			font-size: 16px;
			line-height: 1;
		}
	}

	.btn--remove {
		&>i {
			font-size: 11px;
			height: 11px;
			line-height: 1;
		}
	}

	.btn--add {
		color: rgba(17, 138, 178, 1);
		font-size: 12px;

		&.disabled {
			pointer-events: none;
			color: rgba(17, 138, 178, 0.2);
		}
	}

	.footer {
		display: flex;
		justify-content: center;
		margin: 0;

		a {
			margin-right: 15px;

			i {
				font-size: 24px;
				color: rgba(17, 138, 178, 0.4);
				transition: ease-in-out color 300ms;

			}

			&:hover {
				i {
					color: rgba(17, 138, 178, 1);
				}
			}
		}
	}

	@include media-breakpoint-up(sm) {

		main {
			display: flex;
			flex-direction: column;
			max-width: 480px;
			height: 70vh;
			border-radius: 3px;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
		}

		.list {
			flex: 1 1 auto;
			max-height: calc(100% - 140px);
			overflow-y: auto;
		}

	}

	@include media-breakpoint-down(xs) {

		main {
			height: 100vh;
			height: fill-available;
			padding: 20px 15px;
		}

		.list {
			height: calc(100% - 155px);
			margin-bottom: 0;
			overflow-y: auto;
		}

		.footer {
			padding: 25px 0;
		}

	}

}
