@keyframes slide-in-blurred-top {
	0% {
		transform: translateX(-50%) translateY(-300%) scaleY(2.5) scaleX(0.2);
		transform-origin: 50% 0%;
		// filter: blur(40px);
		opacity: 0;
	}

	100% {
		transform: translateX(-50%) translateY(-50%) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		// filter: blur(0);
		opacity: 1;
	}
}

.down-arrow {
	position: absolute;
	top: 50vh;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 4vw;
	color: white;
	animation: slide-in-blurred-top 1.5s 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) infinite both;
}
