$background: #ffffff;
$background-negative: #000000;
$background-primary: #000000;
$background-secondary: #ffffff;
$background-tertiary: #f8f5f5;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #1e2849;
$foreground-negative: #ffffff;
$foreground-primary: #475693;
$foreground-secondary: #1e2849;
$foreground-tertiary: #1e2849;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #e4e4e6;
